In [11]:
#Primero tenemos que mandar a traer las librerias que ocuparemos para manipular los datos
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
#Para poder manipular los datos, tenemos que hacer que python lea el CSV (reutlize la instrucción de la anterior actividad)
df= pd.read_csv('Boston_United States.csv') 
df

,Unnamed: 0,last_scraped,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,...,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,0,2024-12-20,2008-12-03,"Massachusetts, United States",within a day,100%,22%,t,East Boston,2,...,1,0,2015-07-10,2024-08-09,4.96,5.00,5.00,4.96,4.85,4.88
1,1,2024-12-20,2009-02-19,"Boston, MA",within an hour,100%,99%,t,Roxbury,11,...,10,0,2009-03-21,2024-10-19,4.81,4.88,4.95,4.89,4.56,4.76
2,2,2024-12-20,2009-02-19,"Boston, MA",within an hour,100%,99%,t,Roxbury,11,...,8,0,2009-08-06,2024-11-11,4.81,4.83,4.91,4.95,4.53,4.72
3,3,2024-12-20,2009-07-22,"Boston, MA",within a few hours,100%,49%,t,Beacon Hill,8,...,1,0,2014-08-12,2024-05-15,4.69,4.69,4.93,4.97,4.97,4.59
4,4,2024-12-20,2009-09-16,NaN,within a day,91%,58%,f,Back Bay,22,...,0,0,2016-01-09,2019-07-22,4.33,4.44,4.56,4.00,5.00,4.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4421,4421,2024-12-20,2020-10-28,"Boston, MA",within an hour,100%,97%,f,Harvard Square,199,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4422,4422,2024-12-20,2020-10-28,"Boston, MA",within an hour,100%,97%,f,Harvard Square,199,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4423,4423,2024-12-20,2018-08-29,"Boston, MA",within an hour,100%,98%,f,Theater District,162,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4424,4424,2024-12-20,2016-05-29,NaN,within an hour,100%,100%,t,Roslindale,2,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4425,4425,2024-12-20,2020-10-28,"Boston, MA",within an hour,100%,97%,f,Harvard Square,199,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
#Primero quitaremos el signo de porcentaje de la columna del host_acceptance_rate (no sé porque no es la columna de response_rate la que contenga el dato requerido)
df['host_acceptance_rate']=df['host_acceptance_rate'].str.replace('%', '')
df

,Unnamed: 0,last_scraped,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,...,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,0,2024-12-20,2008-12-03,"Massachusetts, United States",within a day,100%,22,t,East Boston,2,...,1,0,2015-07-10,2024-08-09,4.96,5.00,5.00,4.96,4.85,4.88
1,1,2024-12-20,2009-02-19,"Boston, MA",within an hour,100%,99,t,Roxbury,11,...,10,0,2009-03-21,2024-10-19,4.81,4.88,4.95,4.89,4.56,4.76
2,2,2024-12-20,2009-02-19,"Boston, MA",within an hour,100%,99,t,Roxbury,11,...,8,0,2009-08-06,2024-11-11,4.81,4.83,4.91,4.95,4.53,4.72
3,3,2024-12-20,2009-07-22,"Boston, MA",within a few hours,100%,49,t,Beacon Hill,8,...,1,0,2014-08-12,2024-05-15,4.69,4.69,4.93,4.97,4.97,4.59
4,4,2024-12-20,2009-09-16,NaN,within a day,91%,58,f,Back Bay,22,...,0,0,2016-01-09,2019-07-22,4.33,4.44,4.56,4.00,5.00,4.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4421,4421,2024-12-20,2020-10-28,"Boston, MA",within an hour,100%,97,f,Harvard Square,199,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4422,4422,2024-12-20,2020-10-28,"Boston, MA",within an hour,100%,97,f,Harvard Square,199,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4423,4423,2024-12-20,2018-08-29,"Boston, MA",within an hour,100%,98,f,Theater District,162,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4424,4424,2024-12-20,2016-05-29,NaN,within an hour,100%,100,t,Roslindale,2,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4425,4425,2024-12-20,2020-10-28,"Boston, MA",within an hour,100%,97,f,Harvard Square,199,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
#Y despues convertimos el tipo de dato a str
df['host_acceptance_rate']= df['host_acceptance_rate'].astype(float)
df

,Unnamed: 0,last_scraped,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,...,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,0,2024-12-20,2008-12-03,"Massachusetts, United States",within a day,100%,22.0,t,East Boston,2,...,1,0,2015-07-10,2024-08-09,4.96,5.00,5.00,4.96,4.85,4.88
1,1,2024-12-20,2009-02-19,"Boston, MA",within an hour,100%,99.0,t,Roxbury,11,...,10,0,2009-03-21,2024-10-19,4.81,4.88,4.95,4.89,4.56,4.76
2,2,2024-12-20,2009-02-19,"Boston, MA",within an hour,100%,99.0,t,Roxbury,11,...,8,0,2009-08-06,2024-11-11,4.81,4.83,4.91,4.95,4.53,4.72
3,3,2024-12-20,2009-07-22,"Boston, MA",within a few hours,100%,49.0,t,Beacon Hill,8,...,1,0,2014-08-12,2024-05-15,4.69,4.69,4.93,4.97,4.97,4.59
4,4,2024-12-20,2009-09-16,NaN,within a day,91%,58.0,f,Back Bay,22,...,0,0,2016-01-09,2019-07-22,4.33,4.44,4.56,4.00,5.00,4.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4421,4421,2024-12-20,2020-10-28,"Boston, MA",within an hour,100%,97.0,f,Harvard Square,199,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4422,4422,2024-12-20,2020-10-28,"Boston, MA",within an hour,100%,97.0,f,Harvard Square,199,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4423,4423,2024-12-20,2018-08-29,"Boston, MA",within an hour,100%,98.0,f,Theater District,162,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4424,4424,2024-12-20,2016-05-29,NaN,within an hour,100%,100.0,t,Roslindale,2,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4425,4425,2024-12-20,2020-10-28,"Boston, MA",within an hour,100%,97.0,f,Harvard Square,199,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
#Corremos un .info para comprobar que los datos si están en tipo float ya que así ahora se podrá manipular como un número y no como una cadena
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4426 entries, 0 to 4425
Data columns (total 51 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    4426 non-null   int64
 1   last_scraped                  4426 non-null   object
 2   host_since                    4426 non-null   object
 3   host_location                 3478 non-null   object
 4   host_response_time            3834 non-null   object
 5   host_response_rate            3834 non-null   object
 6   host_acceptance_rate          3946 non-null   float64
 7   host_is_superhost             4281 non-null   object
 8   host_neighbourhood            4310 non-null   object
 9   host_listings_count           4426 non-null   int64
 10  host_total_listings_count     4426 non-null   int64
 11  host_verifications            4426 non-null   object
 12  host_identity_verified        4426 non-null   object
 13  neighbourhood                 2583 non-null   object
 14  neighbourhood_cleansed        4426 non-null   object
 15  neighbourhood_group_cleansed  0 non-null      float64
 16  latitude                      4426 non-null   float64
 17  longitude                     4426 non-null   float64
 18  property_type                 4426 non-null   object
 19  room_type                     4426 non-null   object
 20  accommodates                  4426 non-null   int64
 21  bathrooms                     3687 non-null   float64
 22  bedrooms                      4175 non-null   float64
 23  beds                          3657 non-null   float64
 24  amenities                     4426 non-null   object
 25  price                         3686 non-null   object
 26  minimum_nights                4426 non-null   int64
 27  maximum_nights                4426 non-null   int64
 28  minimum_minimum_nights        4424 non-null   float64
 29  maximum_minimum_nights        4424 non-null   float64
 30  minimum_maximum_nights        4424 non-null   float64
 31  maximum_maximum_nights        4424 non-null   float64
 32  minimum_nights_avg_ntm        4424 non-null   float64
 33  maximum_nights_avg_ntm        4424 non-null   float64
 34  calendar_updated              0 non-null      float64
 35  has_availability              4270 non-null   object
 36  availability_30               4426 non-null   int64
 37  availability_60               4426 non-null   int64
 38  availability_90               4426 non-null   int64
 39  calendar_last_scraped         4426 non-null   object
 40  number_of_reviews             4426 non-null   int64
 41  number_of_reviews_ltm         4426 non-null   int64
 42  number_of_reviews_l30d        4426 non-null   int64
 43  first_review                  3439 non-null   object
 44  last_review                   3439 non-null   object
 45  review_scores_rating          3439 non-null   float64
 46  review_scores_accuracy        3438 non-null   float64
 47  review_scores_checkin         3437 non-null   float64
 48  review_scores_communication   3439 non-null   float64
 49  review_scores_location        3437 non-null   float64
 50  review_scores_value           3437 non-null   float64
dtypes: float64(20), int64(12), object(19)
memory usage: 1.7+ MB

In [16]:
#Una vez que tenemos listos los datos del acceptance_rate, podemos pasar a filtrarlos por aquellos que sean iguales o mayores a 95 y que no se califiquen como superhost (o sea el atributo f)
df1=df[(df['host_acceptance_rate'] >= 95) & (df['host_is_superhost'] == "f")]
df1

,Unnamed: 0,last_scraped,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,...,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
7,7,2024-12-20,2010-01-19,"Boston, MA",within a day,100%,97.0,f,Dorchester,39,...,0,0,2010-05-12,2023-08-19,4.31,4.50,4.56,4.46,4.24,4.48
8,8,2024-12-20,2010-05-19,"Boston, MA",within an hour,100%,100.0,f,Charlestown,1,...,2,0,2010-05-24,2024-10-27,4.97,4.96,5.00,4.97,4.81,4.94
27,27,2024-12-20,2011-12-26,"Boston, MA",within an hour,100%,95.0,f,South Boston,1,...,14,1,2012-02-15,2024-12-01,4.58,4.37,4.70,4.85,4.39,4.31
33,33,2024-12-20,2010-01-19,"Boston, MA",within a day,100%,97.0,f,Dorchester,39,...,0,0,2012-11-11,2019-10-29,4.40,4.67,4.80,4.59,4.54,4.59
34,34,2024-12-20,2010-01-19,"Boston, MA",within a day,100%,97.0,f,Dorchester,39,...,1,0,2014-04-14,2024-07-16,4.67,4.84,4.49,4.51,4.46,4.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4420,4420,2024-12-20,2020-10-28,"Boston, MA",within an hour,100%,97.0,f,Harvard Square,199,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4421,4421,2024-12-20,2020-10-28,"Boston, MA",within an hour,100%,97.0,f,Harvard Square,199,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4422,4422,2024-12-20,2020-10-28,"Boston, MA",within an hour,100%,97.0,f,Harvard Square,199,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4423,4423,2024-12-20,2018-08-29,"Boston, MA",within an hour,100%,98.0,f,Theater District,162,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4425,4425,2024-12-20,2020-10-28,"Boston, MA",within an hour,100%,97.0,f,Harvard Square,199,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
#Una vez listo el filtro, solo lo pasamos a un csv
df1.to_csv("Primer_punto.csv")

In [18]:
#Como segundo filtro aplicamos la condicional de negación y la condición que negará serán las filas que contengan un valor igual a 1 para la columna de baños
df2 = df[~(df['bathrooms'] == 1.0)]
df2.to_csv("Segundo_punto.csv")

In [19]:
#Para el siguiente filtro necesitamos manipular la columna de price, sin embargo, el tener los carácteres: "$", ",", necesitamos quitarlos
df['price']=df['price'].str.replace('$', '')
df['price']=df['price'].str.replace(',', '')
df

,Unnamed: 0,last_scraped,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,...,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,0,2024-12-20,2008-12-03,"Massachusetts, United States",within a day,100%,22.0,t,East Boston,2,...,1,0,2015-07-10,2024-08-09,4.96,5.00,5.00,4.96,4.85,4.88
1,1,2024-12-20,2009-02-19,"Boston, MA",within an hour,100%,99.0,t,Roxbury,11,...,10,0,2009-03-21,2024-10-19,4.81,4.88,4.95,4.89,4.56,4.76
2,2,2024-12-20,2009-02-19,"Boston, MA",within an hour,100%,99.0,t,Roxbury,11,...,8,0,2009-08-06,2024-11-11,4.81,4.83,4.91,4.95,4.53,4.72
3,3,2024-12-20,2009-07-22,"Boston, MA",within a few hours,100%,49.0,t,Beacon Hill,8,...,1,0,2014-08-12,2024-05-15,4.69,4.69,4.93,4.97,4.97,4.59
4,4,2024-12-20,2009-09-16,NaN,within a day,91%,58.0,f,Back Bay,22,...,0,0,2016-01-09,2019-07-22,4.33,4.44,4.56,4.00,5.00,4.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4421,4421,2024-12-20,2020-10-28,"Boston, MA",within an hour,100%,97.0,f,Harvard Square,199,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4422,4422,2024-12-20,2020-10-28,"Boston, MA",within an hour,100%,97.0,f,Harvard Square,199,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4423,4423,2024-12-20,2018-08-29,"Boston, MA",within an hour,100%,98.0,f,Theater District,162,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4424,4424,2024-12-20,2016-05-29,NaN,within an hour,100%,100.0,t,Roslindale,2,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4425,4425,2024-12-20,2020-10-28,"Boston, MA",within an hour,100%,97.0,f,Harvard Square,199,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
#Una vez que quitamos los caráceteres, ahora pasamos el dato a tipo float para que finalmente el programa lo reconozca como número y pueda aplicarse el filtro
df['price']= df['price'].astype(float)
df

,Unnamed: 0,last_scraped,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,...,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,0,2024-12-20,2008-12-03,"Massachusetts, United States",within a day,100%,22.0,t,East Boston,2,...,1,0,2015-07-10,2024-08-09,4.96,5.00,5.00,4.96,4.85,4.88
1,1,2024-12-20,2009-02-19,"Boston, MA",within an hour,100%,99.0,t,Roxbury,11,...,10,0,2009-03-21,2024-10-19,4.81,4.88,4.95,4.89,4.56,4.76
2,2,2024-12-20,2009-02-19,"Boston, MA",within an hour,100%,99.0,t,Roxbury,11,...,8,0,2009-08-06,2024-11-11,4.81,4.83,4.91,4.95,4.53,4.72
3,3,2024-12-20,2009-07-22,"Boston, MA",within a few hours,100%,49.0,t,Beacon Hill,8,...,1,0,2014-08-12,2024-05-15,4.69,4.69,4.93,4.97,4.97,4.59
4,4,2024-12-20,2009-09-16,NaN,within a day,91%,58.0,f,Back Bay,22,...,0,0,2016-01-09,2019-07-22,4.33,4.44,4.56,4.00,5.00,4.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4421,4421,2024-12-20,2020-10-28,"Boston, MA",within an hour,100%,97.0,f,Harvard Square,199,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4422,4422,2024-12-20,2020-10-28,"Boston, MA",within an hour,100%,97.0,f,Harvard Square,199,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4423,4423,2024-12-20,2018-08-29,"Boston, MA",within an hour,100%,98.0,f,Theater District,162,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4424,4424,2024-12-20,2016-05-29,NaN,within an hour,100%,100.0,t,Roslindale,2,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4425,4425,2024-12-20,2020-10-28,"Boston, MA",within an hour,100%,97.0,f,Harvard Square,199,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
#Comprobamos el tipo de dato de la columa "price" y que este sea tipo float
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4426 entries, 0 to 4425
Data columns (total 51 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    4426 non-null   int64
 1   last_scraped                  4426 non-null   object
 2   host_since                    4426 non-null   object
 3   host_location                 3478 non-null   object
 4   host_response_time            3834 non-null   object
 5   host_response_rate            3834 non-null   object
 6   host_acceptance_rate          3946 non-null   float64
 7   host_is_superhost             4281 non-null   object
 8   host_neighbourhood            4310 non-null   object
 9   host_listings_count           4426 non-null   int64
 10  host_total_listings_count     4426 non-null   int64
 11  host_verifications            4426 non-null   object
 12  host_identity_verified        4426 non-null   object
 13  neighbourhood                 2583 non-null   object
 14  neighbourhood_cleansed        4426 non-null   object
 15  neighbourhood_group_cleansed  0 non-null      float64
 16  latitude                      4426 non-null   float64
 17  longitude                     4426 non-null   float64
 18  property_type                 4426 non-null   object
 19  room_type                     4426 non-null   object
 20  accommodates                  4426 non-null   int64
 21  bathrooms                     3687 non-null   float64
 22  bedrooms                      4175 non-null   float64
 23  beds                          3657 non-null   float64
 24  amenities                     4426 non-null   object
 25  price                         3686 non-null   float64
 26  minimum_nights                4426 non-null   int64
 27  maximum_nights                4426 non-null   int64
 28  minimum_minimum_nights        4424 non-null   float64
 29  maximum_minimum_nights        4424 non-null   float64
 30  minimum_maximum_nights        4424 non-null   float64
 31  maximum_maximum_nights        4424 non-null   float64
 32  minimum_nights_avg_ntm        4424 non-null   float64
 33  maximum_nights_avg_ntm        4424 non-null   float64
 34  calendar_updated              0 non-null      float64
 35  has_availability              4270 non-null   object
 36  availability_30               4426 non-null   int64
 37  availability_60               4426 non-null   int64
 38  availability_90               4426 non-null   int64
 39  calendar_last_scraped         4426 non-null   object
 40  number_of_reviews             4426 non-null   int64
 41  number_of_reviews_ltm         4426 non-null   int64
 42  number_of_reviews_l30d        4426 non-null   int64
 43  first_review                  3439 non-null   object
 44  last_review                   3439 non-null   object
 45  review_scores_rating          3439 non-null   float64
 46  review_scores_accuracy        3438 non-null   float64
 47  review_scores_checkin         3437 non-null   float64
 48  review_scores_communication   3439 non-null   float64
 49  review_scores_location        3437 non-null   float64
 50  review_scores_value           3437 non-null   float64
dtypes: float64(21), int64(12), object(18)
memory usage: 1.7+ MB

In [22]:
#Una vez listo, ahora aplicamos un filtro que solo deje a los precios que sean iguales o mayores a 100, pero que sean menores o iguales a 200
df3 = df[(df['price'] >= 100) & (df['price'] <= 200)]
df3

,Unnamed: 0,last_scraped,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,...,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
1,1,2024-12-20,2009-02-19,"Boston, MA",within an hour,100%,99.0,t,Roxbury,11,...,10,0,2009-03-21,2024-10-19,4.81,4.88,4.95,4.89,4.56,4.76
2,2,2024-12-20,2009-02-19,"Boston, MA",within an hour,100%,99.0,t,Roxbury,11,...,8,0,2009-08-06,2024-11-11,4.81,4.83,4.91,4.95,4.53,4.72
3,3,2024-12-20,2009-07-22,"Boston, MA",within a few hours,100%,49.0,t,Beacon Hill,8,...,1,0,2014-08-12,2024-05-15,4.69,4.69,4.93,4.97,4.97,4.59
4,4,2024-12-20,2009-09-16,NaN,within a day,91%,58.0,f,Back Bay,22,...,0,0,2016-01-09,2019-07-22,4.33,4.44,4.56,4.00,5.00,4.67
5,5,2024-12-20,2009-09-16,NaN,within a day,91%,58.0,f,Back Bay,22,...,0,0,2019-03-17,2023-11-19,5.00,5.00,5.00,5.00,5.00,4.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4416,4416,2024-12-20,2024-12-13,NaN,NaN,NaN,100.0,f,South Boston,2,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4417,4417,2024-12-20,2024-12-13,NaN,NaN,NaN,100.0,f,South Boston,2,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4418,4418,2024-12-20,2010-03-28,"Boston, MA",NaN,NaN,NaN,f,Jamaica Plain,1,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4423,4423,2024-12-20,2018-08-29,"Boston, MA",within an hour,100%,98.0,f,Theater District,162,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4424,4424,2024-12-20,2016-05-29,NaN,within an hour,100%,100.0,t,Roslindale,2,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
#Una vez listo el filtro, solo lo pasamos a un csv
df3.to_csv("Tercer_punto.csv")

In [24]:
#Dado a que no elegí la variable de "instant_bookable" dentro de mi base lo reemplaze por la más similar que era "has_availability", y se aplica el filtro con el carácter "t", así lo mimso en el caso de la segunda variable. Y aplicamos el filtro
df4 = df[(df['has_availability'] == 't') & (df['host_identity_verified'] == 't')]
df4

,Unnamed: 0,last_scraped,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,...,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
1,1,2024-12-20,2009-02-19,"Boston, MA",within an hour,100%,99.0,t,Roxbury,11,...,10,0,2009-03-21,2024-10-19,4.81,4.88,4.95,4.89,4.56,4.76
2,2,2024-12-20,2009-02-19,"Boston, MA",within an hour,100%,99.0,t,Roxbury,11,...,8,0,2009-08-06,2024-11-11,4.81,4.83,4.91,4.95,4.53,4.72
3,3,2024-12-20,2009-07-22,"Boston, MA",within a few hours,100%,49.0,t,Beacon Hill,8,...,1,0,2014-08-12,2024-05-15,4.69,4.69,4.93,4.97,4.97,4.59
4,4,2024-12-20,2009-09-16,NaN,within a day,91%,58.0,f,Back Bay,22,...,0,0,2016-01-09,2019-07-22,4.33,4.44,4.56,4.00,5.00,4.67
5,5,2024-12-20,2009-09-16,NaN,within a day,91%,58.0,f,Back Bay,22,...,0,0,2019-03-17,2023-11-19,5.00,5.00,5.00,5.00,5.00,4.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4421,4421,2024-12-20,2020-10-28,"Boston, MA",within an hour,100%,97.0,f,Harvard Square,199,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4422,4422,2024-12-20,2020-10-28,"Boston, MA",within an hour,100%,97.0,f,Harvard Square,199,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4423,4423,2024-12-20,2018-08-29,"Boston, MA",within an hour,100%,98.0,f,Theater District,162,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4424,4424,2024-12-20,2016-05-29,NaN,within an hour,100%,100.0,t,Roslindale,2,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4425,4425,2024-12-20,2020-10-28,"Boston, MA",within an hour,100%,97.0,f,Harvard Square,199,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
#Una vez listo el filtro, solo lo pasamos a un csv
df4.to_csv("Cuarto_punto.csv")

In [26]:
#Aquí solo aplicamos la condicional en la columna de room_type para los tipos de habitación que nos requiere la actividad y utilizamos como conector "or0"
df5 = df[(df['room_type']=='Hotel room') | (df['room_type'] == 'Private room')]
df5

,Unnamed: 0,last_scraped,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,...,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
9,9,2024-12-20,2010-07-20,"Boston, MA",within a few hours,100%,67.0,t,Jamaica Plain,1,...,4,1,2010-08-27,2024-12-11,4.98,4.95,4.97,4.94,4.93,4.93
11,11,2024-12-20,2010-05-05,"Boston, MA",within a few hours,100%,77.0,f,Dorchester,8,...,1,0,2010-09-08,2024-09-02,4.45,4.53,4.72,4.71,4.26,4.51
12,12,2024-12-20,2010-10-06,"Boston, MA",within an hour,100%,68.0,t,Roxbury,5,...,1,0,2011-01-01,2024-02-29,4.73,4.65,4.87,4.91,4.16,4.63
15,15,2024-12-20,2011-03-01,"Boston, MA",NaN,NaN,NaN,f,Charlestown,1,...,0,0,2011-09-19,2023-11-04,4.36,4.52,4.41,4.49,4.73,4.39
16,16,2024-12-20,2010-05-05,"Boston, MA",within a few hours,100%,77.0,f,Dorchester,8,...,4,0,2011-03-06,2024-10-13,4.41,4.49,4.58,4.62,4.15,4.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4415,4415,2024-12-20,2019-11-07,NaN,within an hour,100%,98.0,f,Watertown,61,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4420,4420,2024-12-20,2020-10-28,"Boston, MA",within an hour,100%,97.0,f,Harvard Square,199,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4421,4421,2024-12-20,2020-10-28,"Boston, MA",within an hour,100%,97.0,f,Harvard Square,199,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4422,4422,2024-12-20,2020-10-28,"Boston, MA",within an hour,100%,97.0,f,Harvard Square,199,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4425,4425,2024-12-20,2020-10-28,"Boston, MA",within an hour,100%,97.0,f,Harvard Square,199,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
#Una vez listo el filtro, solo lo pasamos a un csv
df5.to_csv("Quinto_punto.csv")

In [28]:
#Y en este caso solo filtramos la columna de amenidades a aquellas que sean posean más de 4
df6 = df[df['accommodates'] > 4]
df6

,Unnamed: 0,last_scraped,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,...,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
7,7,2024-12-20,2010-01-19,"Boston, MA",within a day,100%,97.0,f,Dorchester,39,...,0,0,2010-05-12,2023-08-19,4.31,4.50,4.56,4.46,4.24,4.48
17,17,2024-12-20,2009-02-19,"Boston, MA",within an hour,100%,99.0,t,Roxbury,11,...,22,1,2011-08-19,2024-12-02,4.70,4.84,4.89,4.90,4.45,4.66
33,33,2024-12-20,2010-01-19,"Boston, MA",within a day,100%,97.0,f,Dorchester,39,...,0,0,2012-11-11,2019-10-29,4.40,4.67,4.80,4.59,4.54,4.59
34,34,2024-12-20,2010-01-19,"Boston, MA",within a day,100%,97.0,f,Dorchester,39,...,1,0,2014-04-14,2024-07-16,4.67,4.84,4.49,4.51,4.46,4.72
35,35,2024-12-20,2010-01-19,"Boston, MA",within a day,100%,97.0,f,Dorchester,39,...,0,0,2012-08-26,2023-08-14,4.43,4.64,4.66,4.47,4.29,4.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4411,4411,2024-12-20,2021-09-29,"Boston, MA",within an hour,100%,100.0,t,Mattapan,12,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4414,4414,2024-12-20,2017-05-27,"Quincy, MA",within an hour,100%,100.0,t,North Quincy,28,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4416,4416,2024-12-20,2024-12-13,NaN,NaN,NaN,100.0,f,South Boston,2,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4417,4417,2024-12-20,2024-12-13,NaN,NaN,NaN,100.0,f,South Boston,2,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4418,4418,2024-12-20,2010-03-28,"Boston, MA",NaN,NaN,NaN,f,Jamaica Plain,1,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
#Una vez listo el filtro, solo lo pasamos a un csv
df6.to_csv("Sexto_punto.csv")